.navbar-logo-img{
    border-radius: 100%;
}

/* --- Navbar Principal (Topo) --- */
.navbar-brand img.navbar-logo-img {
    height: 50pt;
    margin-right: 10px; /* Espaçamento entre a logo e o texto */
}

/* Alinhamento central da barra de pesquisa */
.navbar-search-form {
    flex-grow: 1;
    max-width: 500px;
}

/* Estilo para os ícones e links de ação à direita */

.navbar-actions .nav-link {
    display: flex;
    align-items: center; /* Alinha ícone e texto verticalmente */
    padding: .5rem .75rem; /* Ajuste o padding para os links de ícone */
    color: #212529;
    text-decoration: none;
    font-size: 0.95rem;
    transition: color 0.3s ease; /* Adicionado para uma transição suave no hover */
}

.navbar-actions .nav-link.text-nowrap:hover {
    color: blue;
}

.navbar-actions .nav-link:hover {
    color: #000000; /* Cor ao passar o mouse (preto puro) */
}

.navbar-actions .nav-link i {
    font-size: 1.5rem; /* Tamanho dos ícones (coração, carrinho, pessoa) */
    margin-right: 5px; /* Espaçamento entre o ícone e o texto */
}

/* Ajuste específico para o texto "Entrar ou Cadastrar-se" */
.navbar-actions .nav-link.text-nowrap {
    white-space: nowrap; /* Impede a quebra de linha */
    line-height: 1.2;
}

/* --- Segundo Navbar (Categorias) --- */
.navbar-categories {
    background-color: #212529; /* Fundo escuro */
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-categories .navbar-nav .nav-item {
    margin: 0 10px; /* Espaçamento entre os itens da lista de categorias */
    font-size: 16pt;
}

.navbar-categories .nav-link {
    color: rgba(255, 255, 255, 0.85); /* Cor do texto dos links de categoria (claro) */
    padding: 1rem 1.5rem; /* Aumenta o padding para os links de categoria */
    font-weight: 500;
    transition: color 0.3s ease;
}

.navbar-categories .nav-link:hover,
.navbar-categories .nav-link.active {
    color: #ffffff; /* Cor ao passar o mouse e para o link ativo */
}

/* CSS do Footer */

/* Estilos para o footer */
.footer {
    background-color: #343a40; /* Cor de fundo escura */
    color: white; /* Texto branco */
    padding: 20px 0; /* Espaçamento interno */
    text-align: center; /* Centraliza o texto */
    width: 100%;
}

.Espacamento{
    margin-top: 5%;
}

.corpo-entrar{
    background-color: #d3d4d4;
}